{% extends 'base.html' %}
{% block content %}
<section class="h-100 gradient-form">
    <div class="container py-3 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="text-center mb-3">
                <h1>Lushlyrics</h1>
            </div>
            
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            {% block authentication %}
                            <div class="card">
                                <div class="card-header text-center">
                                    <h4 class="mt-3 mb-3 pb-1">Welcome back!</h4>
                                </div>
                                <form class="card-body" action="" method="post">
                                    {% csrf_token %}
                                    <div class="form-outline mb-3">
                                        <label class="form-label" for="email_field">Email</label>
                                        <input type="email" id="email_field" name="email" class="form-control" placeholder="Enter email address" required/>
                                    </div>
                                    <div class="form-outline mb-3">
                                        <label class="form-label" for="password_field">Password</label>
                                        <input type="password" id="password_field" name="password" class="form-control" required/>
                                    </div>

                                    <div class="text-center">
                                        <p>
                                            <a href="{% url 'password_reset' %}">Forget Password?</a>
                                        </p>
                                    </div>
                
                                    <div class="text-center pt-1 mb-2 pb-1">
                                        <input class="btn btn-info btn-block fa-lg form-control rounded-5" type="submit" value="Login" />
                                    </div>
                                    <hr>
                                    <div class="text-center">
                                        <p>
                                            <label class="text-center">Don't have an account?</label>
                                            <a href="{% url 'signup' %}" class="btn btn-success btn-block fa-lg rounded-5">Signup</a>
                                        </p>
                                    </div>
                                </form>
                            </div>
                            {% endblock %}
                        </div>
                        <div id="auth" class="col-lg-6 d-flex align-items-center">
                            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                            <h2>Lushlyrics</h2>
                            <hr>
                            <h4 class="mb-4">Coursera Hand-on Project</h4>
                            <p class="small mb-0">As part of a Coursera project, I assisted Lushlyrics - a popular online music streaming platform - in 
                                strengthening the security of its web application. My role involved creating a smooth customer registration and login 
                                experience by implementing user authentication and authorization. I worked on a production-level website that was built 
                                using the Django framework</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}