{% extends 'registration/login.html' %}
{% block authentication %}
<div class="card">
    <div class="card-header text-center">
        <h4 class="">Sign up for free to start listening.</h4>
    </div>
    <form class="card-body" action="{% url 'signup' %}" method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        <div class="row">
            {% for form in formset %}
            <div class="col-md-6">
                <div class="form-group mb-3">
                    {{ form.label_tag }} {{ form }}
                </div>
            </div>
            {% endfor %}
            <div class="text-center pt-1 mb-2 pb-1">
                <input type="submit" class="btn btn-success form-control rounded-5 mt-2" value="Signup">
            </div>
            <hr>
            <div class="text-center">
                <p>
                    <label class="text-center">Already have an account?</label>
                    <a href="{% url 'login' %}" class="btn btn-info btn-block fa-lg rounded-5">Login</a>
                </p>
            </div>
        </div>
    </form>
</div>
<!-- end of user creation form -->
{% endblock %}
